.iframe {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.button-container  {
  position: absolute;
  display: inline-block;
  min-width: auto;
  height: 27px; 
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 20;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  cursor: grab;
}

.button-container:active {
  cursor: grabbing;
}


.button {
  background-color: transparent;
  width: 30px; 
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 21;
  cursor: pointer;
}


.drag-button{
  background-color: transparent;
  width: 30px; 
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 21;
}